<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gorakhpur Cancer Clinic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body class="index-page">
    <form id="form1" runat="server">

        <header id="header" class="header fixed-top">

            <div class="topbar d-flex align-items-center dark-background">
                <div class="container d-flex justify-content-center justify-content-md-between">
                    <div class="contact-info d-flex align-items-center">
                        <i class="bi bi-phone d-flex align-items-center"><span>7007671829</span></i>
                        <i class="bi bi-phone d-flex align-items-center ms-4"><span>9889297297</span></i>
                    </div>
                    <div class="social-links d-none d-md-flex align-items-center">
                        <a href="#!" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#!" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#!" class="linkedin"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
            <!-- End Top Bar -->

            <div class="branding d-flex align-items-cente">

                <div class="container position-relative d-flex align-items-center justify-content-between">
                    <a href="index.aspx" class="logo d-flex align-items-center">
                        
                        <h1 class="sitename">GORAKHPUR CANCER CLINIC</h1>
                    </a>

                    <nav id="navmenu" class="navmenu">
                        <ul>
                            <li><a href="index.aspx">Home</a></li>
                            <li><a href="about.aspx">About</a></li>
                            <li><a href="service.aspx">Services</a></li>
                            <li><a href="gallery.aspx">Gallery</a></li>
                            
                            <li><a href="contact.aspx">Contact</a></li>
                        </ul>
                        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                    </nav>

                </div>

            </div>

        </header>

        <main class="main">
            <div>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </main>

    </form>

    <footer id="footer" class="footer-16 footer position-relative">

        <div class="container">

            <div class="footer-main" data-aos="fade-up" data-aos-delay="100">
                <div class="row align-items-start">

                    <div class="col-lg-5">
                        <div class="brand-section">
                            <a href="index.html" class="logo d-flex align-items-center mb-4">
                                <span class="sitename">GORAKHPUR CANCER CLINIC</span>
                            </a>
                            <p class="brand-description">Gorakhpur Cancer Clinic is dedicated to providing compassionate, personalized, and evidence-based cancer care under the expert guidance of Major Dr. M. Q. Baig.</p>

                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="footer-nav-wrapper">
                            <div class="row">

                                <div class="col-6 col-lg-6">
                                    <div class="nav-column">
                                        <h6>Contact Details</h6>
                                        <nav class="footer-nav">
                                            <a href="#!">
                                                <i class="bi bi-geo-alt"></i>
                                                <span>BRD Medical College, North Gate, Imperial Crest Tower, Gorakhpur</span>
                                            </a>
                                            <a href="#!">
                                                <i class="bi bi-telephone"></i>
                                                <span>+917007671829</span>
                                            </a>

                                            <a href="#!">
                                                <i class="bi bi-telephone"></i>
                                                <span>+919889297297</span>
                                            </a>

                                            <a href="#!">
                                                <i class="bi bi-clock"></i>
                                                <span>9:00 AM - 4:00 PM</span>
                                            </a>

                                        </nav>
                                    </div>
                                </div>

                                <div class="col-6 col-lg-6">
                                    <div class="nav-column">
                                        <h6>Useful Links</h6>
                                        <nav class="footer-nav">
                                            <a href="index.aspx">Home
                                            </a>
                                            <a href="about.aspx">About
                                            </a>

                                            <a href="service.aspx">Service
                                            </a>

                                            <a href="gallery.aspx">Gallery
                                            </a>

                                            <a href="contact.aspx">Contact
                                            </a>

                                        </nav>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="bottom-content" data-aos="fade-up" data-aos-delay="300">
                    <div class="row align-items-center">

                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>© <span class="sitename">Gorakhpur Cancer Clinic</span>. All rights reserved.</p>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="legal-links">
                                <a href="#">Privacy Policy</a>
                                <a href="#">Terms of Service</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#!" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>
</html>
