<?xml version="1.0"?>

<configuration>
  <system.web>
	  <compilation debug="true" targetFramework="4.8.1" />
	  <httpRuntime targetFramework="4.8.1" />
	  <customErrors mode="Off"/>
  </system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".webp" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
		</staticContent>
	</system.webServer>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=103.120.176.21;Initial Catalog=digit196_gkpcancerclinic;Integrated Security=false;User Id=digit196_gkpcancerclinic;Password=dnr2dqKv^H4V#p7l;connect timeout=0;Max Pool Size=40000" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>